

$uni-color-primary: #008EFF;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$uni-text-color: #008EFF;//基本色
$uni-text-color-inverse:#fff;//反色
$uni-text-color-placeholder: #808080;

$uni-top-bg-color:#008EFF;//顶部背景颜色
$uni-btn-bg-color:#008EFF;
$uni-bg-opacity:rgba(0, 142, 255, 0.2);   //透明背景色

$uni-border-color:#14c2c1;
$uni-border:#f5f5f5;
